* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Red Hat Display',sans-serif;
  font-weight: 900;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 20rem;
  height: 40rem;
  border-radius: 1rem;
  background: rgb(247, 247, 242);
}

.subtitle {
  color: silver;
}

.plan-text-font {
  font-size: 0.8rem;
}

#top-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#music-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.plan-detail-card {
  background: rgb(227, 227, 227);
  border-radius: 1rem;
  width: 14rem;
}

.payment-btn {
  --bs-btn-padding-y: .25rem; 
  --bs-btn-padding-x: .5rem; 
  --bs-btn-font-size: .75rem;
  background: hsl(223, 47%, 23%);
  color: rgb(238, 237, 237)
}