* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Red Hat Display',sans-serif;
  font-weight: 900;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 20rem;
  height: 35rem;
  border-radius: 1rem;
  background: rgb(248, 248, 246);
}

.subtitle {
  color: silver;
}

.plan-text-font {
  font-size: 0.8rem;
}

#top-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#music-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.plan-detail-card {
  background: rgb(243, 243, 243);
  border-radius: 0.4rem;
  width: 14rem;
  height: 5rem;
}

.payment-btn {
  --bs-btn-padding-y: .5rem; 
  --bs-btn-padding-x: 3.3rem; 
  --bs-btn-font-size: .75rem;
  background: hsl(245, 75%, 52%);
  color: rgb(238, 237, 237)
}

.cancel-btn {
  color: rgb(175, 174, 174);
  font-size: 0.8rem;
}